@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,700;1,400;1,900&display=swap');

h1 {
    font-family: 'Raleway', sans-serif;
    font-weight: 900 !important;
}

h2, h3, h4, h5, h6 {
    font-family: 'Raleway', sans-serif;
    font-weight: 700;
}

section h2.section-title {
    font-weight: 400; 
    font-style: italic;
}

body {
    margin: 0  !important;
}

.admin-bar {
    .fixed-top {
        top: 32px;
    }
}

.section-title {
    font-size: 30px;
    color: #212121;
    line-height: 52px;
    display: block;
    position: relative;
    margin-bottom: 10px;
}

.section-title-header p {
    font-weight: 400;
    line-height: 26px;
    padding-bottom: 36px;
}

.btn-link {
    &:hover,
    &:active,
    &:focus {
        box-shadow: none;
        border-color: transparent;
    }
}

.h-32 {
    height: 32px !important;
}

.cursor-help {
    cursor: help;
}

ul {
    margin-left: 0 !important;
}